.apply-title {
  text-align: center;
  margin-top: 50px;
}

.apply-question-container {
  height: 100vh;
}

.questions-container {
  width: 80%;
  height: 400px;
  margin: 50px auto;
  background-color: #274a79;
  border-radius: 10px;
}
