.btn-tab-setting {
  text-decoration: none;
  color: #274a79;
  &:hover {
    opacity: 0.9;
    cursor: pointer;
    color: rgb(21, 105, 21);
  }
}

.tab-setting-container {
  display: flex;
  list-style: none;

  .btn-tab-setting-li {
    background-color: #6adbd7;
    border: #274a79;
    margin: 10px 10px;
    padding: 5px 20px;
    font-weight: 700;
    border-radius: 5px;
  }
}

.profile-setting-container {
  padding: 50px;
}

.setting-content {
  padding: 20px;
  border: 1px solid #274a79;
}
